<section class="flex justify-center">
    <form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()" data-testid="edit-task-form">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Título</span>
        </div>
        <input
          type="text"
          placeholder="Digite o título da tarefa"
          class="input input-bordered w-full max-w-xs"
          formControlName="title"
          data-testid="edit-task-title"
        />
      </label>
    
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Está completo</span>
          <input
            type="checkbox"
            formControlName="completed"
            class="checkbox checkbox-primary"
            data-testid="edit-task-completed"
          />
        </label>
      </div>
    
      <section class="flex justify-end">
        <button appButtonXs="primary" type="submit">Salvar</button>
      </section>
    </form>
</section>
