<section class="w-full max-w-96 flex justify-center">
  <form
    class="space-y-4"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    data-testid="login-submit"
  >
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Email</span>
      </div>
      <input
        type="text"
        placeholder="Digite o email do usuário"
        class="input input-bordered w-full max-w-xs"
        formControlName="email"
        data-testid="login-email"
      />
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Senha</span>
      </div>
      <input
        type="text"
        placeholder="Digite a senha do usuário"
        class="input input-bordered w-full max-w-xs"
        formControlName="password"
        data-testid="login-password"
      />
    </label>

    <section class="flex justify-end">
      <button appButtonXs="primary" type="submit">Autenticar</button>
    </section>
  </form>
</section>
